$avatarSize: 88rpx;

.left {
  avatar {
    order: 1;
    margin-right: 20rpx;
  }
}
.right {
  avatar {
    order: 2;
    margin-left: 20rpx;
  }
}

.message-component {
  flex-shrink: 0;
  display: flex;
  min-height: $avatarSize;
  align-items: flex-start;
  word-break: break-all;
  color: #ffffff;
  margin-bottom: 5.3333vw;
  padding: 0 36rpx;

  line-height: 70rpx;
  font-size: 34rpx;
}
